@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Common Styles */
/*.invisible {*/
/*  opacity: 0;*/
/*}*/

/* Header */
.header-controls-pics {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;
}
.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  /*background-image: url(../img/header-controls-sprite.png);*/
  background-repeat: no-repeat;
  cursor: pointer;
}
.header-controls-search {
  position: relative;
  z-index: 1;
  background-position: -64px 0;
}
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}
.header-controls-cart {
  position: relative;
  background-position: 0 0;
}
.header-controls-cart-full {
  position: absolute;
  right: 35px;
  top: 0;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
.header-controls-search-form {
  max-width: 1200px;
  margin: 3rem auto;
  top: calc(50% - -100px);
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: right;
}
.header-controls-search-form .form-control {
  right: 100px;
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}


/* Banner */
.banner {
  position: relative;
  max-width: 1200px;
  margin: -2rem auto;
}

.banner-header {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}

/* Preloader */
.preloader {
  margin: 10px auto;
  position: relative;
  width: 30px;
  height: 30px;
}
.preloader span {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.preloader :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.preloader :nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader :nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}
.preloader :last-child {
  background: #727e86;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Top Sales */
.top-sales {
  min-height: 300px;
}

.catalog {
  min-height: 600px;
}

.catalog-categories {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.catalog-item-card {
  margin-bottom: 1em;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;
}

.catalog-item-size.selected {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
  margin-left: 10px;
}

.catalog-search-form {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  margin-bottom: 2em;
}
.catalog-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}

.footer {
  padding: 0 25px;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  /*margin: 10px auto 20px;*/
}
.footer-pay-systems {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  /*background-image: url(../img/footer-sprite.png);*/
}
.footer-pay-systems:not(:first-child) {
  margin-left: 5px;
}
.footer-pay-systems-paypal {
  background-position: -2px -6px;
}
.footer-pay-systems-master-card {
  background-position: -54px -8px;
}
.footer-pay-systems-visa {
  background-position: -104px -8px;
}
.footer-pay-systems-yandex {
  background-position: -154px -8px;
}
.footer-pay-systems-webmoney {
  background-position: -2px -46px;
}
.footer-pay-systems-qiwi {
  background-position: -52px -46px;
}

.footer-social-links {
  margin-top: 10px;
}
.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  /*background-image: url(../img/footer-sprite.png);*/
}
.footer-social-link-twitter {
  background-position: -107px -42px;
}
.footer-social-link-vk {
  background-position: -157px -42px;
}
.footer-social-link:hover {
  cursor: pointer;
}

.footer-copyright {
  font-size: 0.8em;
  margin-top: 40px;
}

.footer-contacts-phone {
  display: block;
  margin-top:-10px;
}

.footer-contacts-working-hours {
  display: block;
  margin-top:10px;
}

.footer-contacts-email {
  display: block;
  margin-top:10px;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000;
}

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}

.menu {
  display: flex;
  max-width: 1200px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: whitesmoke;
}

.nav-item {
  position: relative;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: dimgrey;
  opacity: .6;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-left: 40px;
  padding-top: 20px;
  margin-top: -15px;
  margin-left: -20px;
}

.footer {
  display: flex;
  max-width: 1150px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: whitesmoke;
}

.footer-page {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  margin-top: -20px;
  margin-left: -15px;
}

.footer-contacts {
  position:relative;
  left: 230px;
  margin-top: -10px;
}

.pay {
 position:relative;
  left: 110px;
}

.symbols {
  position: relative;
  right: -450px;
  margin-top: 10px;
  font-size: 15px;
}

.main-content {
  max-width: 1200px;
  margin: 5rem auto;
}

.total-super,
.title-catalog {
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.total-catalog {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.total-information {
  display: inline-block;
  height: 640px;
  border: 1px solid gainsboro;
  margin-left: 50px;
  margin-top: 20px;
}

.title {
  display: block;
  margin-left: 15px;
}

.images {
  width: 300px;
  height: 500px;
  margin-top: 0;
}

.price-top {
  margin-top: 15px;
  margin-left: 15px;
}

.order {
  width: 90px;
  height: 40px;
  color: gray;
  background-color: white;
  border-color: lightgray;
  margin-left: 15px;
  margin-top: 15px;
}

.info-catalog {
  display: inline;
  margin-right: 5px;
  padding: 3px;
  font-weight: normal;
  font-size: 20px;
  margin-left: 30px;
}

.main-information {
  display: inline-block;
  width: 300px;
  height: 440px;
  border: 1px solid gainsboro;
  margin-left: 50px;
  margin-top: 50px;
}

.all-images {
  width: 300px;
  height: 300px;
}

.all-title {
  display: block;
  font-weight: normal;
  font-size: 16px;
  margin-left: -15px;
}

.all-price {
  font-weight: normal;
  font-size: 16px;
  margin-left: -15px;
  margin-top: 15px;
}

.all-order {
  width: 90px;
  height: 40px;
  color: gray;
  background-color: white;
  border-color: lightgray;
  margin-top: 15px;
}

.loading-else {
  width: 130px;
  height: 40px;
  margin-top: 35px;
}

.nav-item-active {
  color: black;
  font-weight: bold;
}

.form-control {
  width: 300px;
  height: 500px;
}

.name-catalog {
  font-size: 30px;
}

.title-item {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}

.img-item {
  position: absolute;
  right: 60%;
  width: 280px;
  max-height: 300px;
  margin-top: 0;
}

.table-bordered {
  position: relative;
  left: 48%;
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

td {
  width: 300px;
  height: 20px;
  border: 1px solid lightgray;
  padding-top:15px;
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 15px;
}

.sizes {
  margin-top: 15px;
}

.text-center {
  position: relative;
  left: 57%;
}

.btn-group {
  margin-left: 10px;
}

.btn-secondary {
  width: 25px;
  height: 25px;
  background-color: lightgray;
  border: 1px solid lightgray;
}

.btn-outline-primary {
 padding: 10px;
}

.btn-danger {
  width: 300px;
  height: 30px;
  position:absolute;
  background-color: red;
  left: 55%;
  color: white;
  margin-top: -10px;
  border: 1px solid red;
}
.cart-container,
.checkout-container  {
  text-align: center;
}

.cart,
.checkout {
  font-size: 20px;
  font-weight: bold;
}

.cart-table {
  max-width: 1200px;
  margin: 2rem auto;
}

.cart-table > table {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.number {
  width: 5%;
}

.count,
.size,
.price-th,
.total-th,
.action-th {
  width: 10%;
}

.cancel {
  border: 1px solid red;
  background-color: #FFFFFF;
  color: red;
}

.total-cost {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.data {
  text-align: center;
}

.telephone {
  margin-right: 240px;
  margin-top: 20px;
}

.address {
  margin-right: 180px;
  margin-top: 20px;
}

.telephone-field,
.address-field {
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.checkbox-container {
  margin-left: -55px;
  margin-top: 10px;
}

.send-form {
  width: 100px;
  height: 30px;
  margin-right: 205px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border: 1px solid darkgray;
  color: darkgray;
}

.checkout-form {
  border: 1px solid darkgray;
  width: 350px;
  height: 270px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 30px;
}

.title-info {
  font-weight: bold;
}
.data-info {
  margin-top:10px;
}

.info,
.delivery,
.send,
.call-number,
.contact-email {
  max-width: 1200px;
  margin: 3rem auto;
  text-align: center;
}

.telephone-info {
  color: black;
  font-weight: bold;
}

.link-info {
  color: black;
  margin-top:10px;
}

.social-links {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
